table { border-collapse: collapse; }

td + td,
th + th { border-left: 10px solid grey; }
tr + tr { border-top: 10px solid grey; }

td,
th { padding: 200px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 10px solid grey; }

td.hover {
  cursor:pointer;
}

td.hover:hover {
  background-color: lightgray;
}

.oImage {
  background-image: url(../img/tic_tac_toe.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.xImage {
  background-image: url(../img/tic_tac_toe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
