table { border-collapse: collapse; }

td + td,
th + th { border-left: 1px solid chartreuse; }
tr + tr { border-top: 1px solid indigo; }

td,
th { padding: 100px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid indigo; }

td.hover {
  cursor:pointer;
}

.oImage {
  background-image: url(../img/tic_tac_toe.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.xImage {
  background-image: url(../img/tic_tac_toe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
